@import "mixins";

header{
    width: 100vw;
    background: white;
    border: 1px solid #000;
    height: 4rem;

    .container{
        @include container;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        nav{
            a{
                margin-left: 1rem;
                color: blue;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}